@import 'responsive.scss';
@import 'helpers.scss';
@import '../components/header/header.scss';

$primary-background-color: #3BACB6;
$button-color: whitesmoke;

  *{
  box-sizing: border-box;
  // outline: 3px orange solid;
  }

  .App {
    @include flexDisplay();
    flex-direction: column;
    background-color: $primary-background-color;
    min-height: 100vh;
    max-height: 100vh;
    width: 100vw;
    font-size: calc(10px + 2vmin);
    color: white;
    overflow:hidden;
  }

  .mainApp{
    width: 80%;
    @include flexDisplay();
    flex-direction: column;
  }
  
  .callModalContainer{
    @include flexDisplay();
    flex-direction: column;
    justify-content: space-between;
    height: 50vh;
  }
  
  .callPartiesContainer{
    background-color: whitesmoke;
    color: $primary-background-color;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 75vw;
    height: 75vh;
    margin-bottom: 25px;
  }
  
  .userCallItem{
    width: 99%;
    height: 99%;
    @include flexDisplay();
    justify-content: center;
    text-align: center;
  }
  
  .startCallControls, .inCallControls{
    width: 25%;
    @include flexDisplay();
    justify-content: space-around;
  }

  .startCallControls{
    margin: 10%;
  }
  
  .icon:hover{
    transform: scale(1.05);
    cursor: pointer;
  }
  
  video{
    width: 100%;
  }
  
  .incomingCallContainer{
    height: 33vh;
    width: 33vw;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 50px;

    button{
        @include buttonStyle();

        &:hover{
          @include hoverBehaviour();
          background-image: linear-gradient(to bottom, #2e4554, #228ea1);
        }
    }

    button:last-child:hover{
        @include hoverBehaviour();
        background-image: linear-gradient(to bottom, #2e4554, #ca252d);
    }
  }
  
  .connectionComponent{
    margin: 50px 0 0 0;
    border: 5px solid red;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .connectedState{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;

      .connectContainer, .btnContainer{
        @include flexDisplay();
        justify-content: space-around;
      }

      span{
        font-weight: bold;
      }

      button{
          @include buttonStyle();
          height: 50%;
          width: 175px;
          font-size: large;
          border-radius: 25px;
          border: none;
      }
    
      button:hover{
          @include hoverBehaviour();
      }
  }