@import '../../styles/helpers.scss';

.headerContainer{
    height: 10vh;
    width: 100%;
    // max-width: 100%;
    background-color: #2F8F9D;
    padding-left: 3vw;
    justify-content: space-between;

    @include flexDisplay;

    .navMenuList{
        list-style: none;
        width: 50%;
        display: flex;
        justify-content: space-around;

        @include hoverBehaviour;
    }
}